In [2]:
# Librerías comunes para pruebas
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# Crear un array sencillo de números
numeros = np.arange(1, 11)

# Crear un pequeño DataFrame
datos = pd.DataFrame({
    'Número': numeros,
    'Cuadrado': numeros**2,
    'Cubo': numeros**3
})

datos

   Número  Cuadrado  Cubo
0       1         1     1
1       2         4     8
2       3         9    27
3       4        16    64
4       5        25   125
5       6        36   216
6       7        49   343
7       8        64   512
8       9        81   729
9      10       100  1000

In [ ]:
print('Holiii')